<div class="container py-4">
    <h1> Vous pourrez retrouver ici tout les tarifs pour les différentes offres que nous avons </h1>
    <p>Chambre 1 : 100€</p>
    <p>Chambre 2 : 150€</p>
    <p>Chambre 3 : 200€</p>
    <p>Chambre 4 : 300€</p>
    <p>Petit déjeuner : 20€</p>
    <p>Dîner table d'hôte : 30€</p>
</div>